<div class="person">
	<strong class="persondetail">Person detail</strong><br> <br>
	My name is {{person.name}}, my title is {{person.title}} and my salary is {{person.salary}}, sex is {{person.gender}}
</div>

